<% if flash.any? %>
  <div class="container mx-auto px-4 mt-4 space-y-2">
    <% flash.each do |type, message| %>
      <% alert_class = type.to_s == "alert" ? "alert-error" : "alert-success" %>
      <div class="alert <%= alert_class %>">
        <span><%= message %></span>
      </div>
    <% end %>
  </div>
<% end %>
