<% if status == "ok" %>
  <span class="badge badge-success"><%= t("shared.status_check.healthy") %></span>
<% else %>
  <span class="badge badge-error"><%= t("shared.status_check.unavailable") %></span>
<% end %>
