<label class="flex items-center gap-2">
  <svg class="h-4 w-4 fill-current transition-colors duration-200" data-theme-target="lightIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M5.64 17.66l-1.41 1.41 1.77 1.77 1.41-1.41-1.77-1.77zm12.73 1.41l1.41-1.41-1.77-1.77-1.41 1.41 1.77 1.77zM12 18a6 6 0 100-12 6 6 0 000 12zm0 4h-1v-3h2v3h-1zm0-19h-1V0h2v3h-1zM4 13H1v-2h3v2zm19 0h-3v-2h3v2zM6 6.34L4.23 4.57l1.41-1.41L7.41 4.93 6 6.34zm12.36-1.77l1.77-1.77 1.41 1.41-1.77 1.77-1.41-1.41z"/>
  </svg>
  <input type="checkbox" class="toggle toggle-sm" data-action="change->theme#toggle" data-theme-target="toggle" aria-label="Toggle dark mode">
  <svg class="h-4 w-4 fill-current transition-colors duration-200" data-theme-target="darkIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M21.75 15.5A9 9 0 1112.5 2.25a1 1 0 01.43 1.9 7 7 0 008.9 8.9 1 1 0 011.92.45z"/>
  </svg>
</label>
